{{!
This file is part of Moodle - http://moodle.org/

Moodle is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

Moodle is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with Moodle. If not, see
<http: //www.gnu.org/licenses />.
}}
{{!
@template mod_ilddigitalcert/styles

Styles for ilddigitalcert page templates.

Classes required for JS:
* none

Data attributes required for JS:
* none

Example context (json):
{
}
}}

<head>
    <style>
        #m-element-bulk-actions {
            margin-right: .25rem;
        }

        #fitem_id_search_reset .btn-primary {
            color: #212529;
            background-color: #ced4da;
            border-color: #ced4da;
        }

        .m-element-action-row .btn {
            margin-right: 0.25em;
        }

        .m-element-action-row img {
            height: 20px;
        }

        #m-element-modal .modal-footer .mform {
            width: 100%;
        }

        .mform .m-element-search-form {
            padding: 0;
        }

        .m-element-search-form .col-form-label {
            display: none !important;
        }

        .m-element-search-form .col-md-9 {
            max-width: unset;
            flex: none;
            padding: 0;
        }

        .m-element-certs-table thead th, .m-element-certs-table td {
            vertical-align: middle;
        }
    </style>
</head>

<!--  /* The Modal (background) */
        .modal {
            display: none;
            /* Hidden by default */
            position: fixed;
            /* Stay in place */
            z-index: 1;
            /* Sit on top */
            left: 0;
            top: 0;
            width: 100%;
            /* Full width */
            height: 100%;
            /* Full height */
            overflow: auto;
            /* Enable scroll if needed */
            background-color: rgb(0, 0, 0);
            /* Fallback color */
            background-color: rgba(0, 0, 0, 0.4);
            /* Black w/ opacity */
            -webkit-animation-name: fadeIn;
            /* Fade in the background */
            -webkit-animation-duration: 0.4s;
            animation-name: fadeIn;
            /* fadeIn */
            animation-duration: 0.4s
        }

        /* Modal Content/Box */
        .modal-content {
            background-color: #fefefe;
            margin: 15% auto;
            /* 15% from the top and centered */
            padding: 20px;
            border: 1px solid #888;
            width: 50%;
            /* Could be more or less, depending on screen size */
            -webkit-animation-name: fadeIn;
            /* slideIn */
            -webkit-animation-duration: 0.4s;
            animation-name: fadeIn;
            animation-duration: 0.4s
        }

        form input.pk-input {
            width: 565px;
            max-width: 565px;
        }

        /* The Close Button */
        .modal-header .close {
            color: rgb(255, 255, 255);
            float: right;
            font-size: 28px;
            font-weight: bold;
            margin-top: 9px;
        }

        .close:hover,
        .close:focus {
            color: black;
            text-decoration: none;
            cursor: pointer;
        }

        .modal-header {
            padding: 2px 16px;
            background-color: #24bceb;
            color: white;
        }

        .modal-body {
            padding: 2px 16px;
        }

        .modal-footer {
            padding: 2px 16px;
            background-color: #24bceb;
            color: white;
        }

        /* Add Animation */
        @-webkit-keyframes slideIn {
            from {
                bottom: -300px;
                opacity: 0
            }

            to {
                bottom: 0;
                opacity: 1
            }
        }

        @keyframes slideIn {
            from {
                bottom: -300px;
                opacity: 0
            }

            to {
                bottom: 0;
                opacity: 1
            }
        }

        @-webkit-keyframes fadeIn {
            from {
                opacity: 0
            }

            to {
                opacity: 1
            }
        }

        @keyframes fadeIn {
            from {
                opacity: 0
            }

            to {
                opacity: 1
            }
        } -->